
.Contenedor{
    width: 400px;
    height: auto;
    background-color: cornsilk;
    display: flex;
    padding: 10px;
    border: 3px solid coral;
}
.caja{
    height: 100px;
    width: 50%;
    background-color: aquamarine;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px dashed black;
    box-sizing: border-box;
}
h1{
    background-color: brown;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
}
nav{
    margin: 40px;
    border: 1px dashed red;
    padding: 1px ;    
}
ul li{
    list-style: none;
    padding: 5px;
    border: 1px dashed;
}
span{
    display: block;
    border: 1px dashed;
}
